
@import url("https://use.typekit.net/hgg7pqh.css");

header{
  
    height: 812px;
    /* background-image: url(./assets/2.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recuadroinformacion{
   
    width: 600px;
    height: 450px;

    margin-left: 120px;
    box-shadow: 1px 2px 10px #666;
    display: flex;

}


.recuadroinformacion img{
    width: 200px;
  
    margin-left: 200px;
    

}

.recuadroinformacion p{
    text-align: center;
    
    height: 230px;
    opacity: 100%;
    color: black;
    font-size: 20px;
    font-family: myriad-pro, sans-serif;
}

.recuadrogris{
    
    width: 600px;
    height: 450px;
    background-color: #d8d6d6;
    opacity: 70%;
    margin-left: 0px;
    display: flex;
}

.masinformacion{
    background-color: indigo;
    width: 400px;
    height: 80px;
    margin-left: 200px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 10px #666;

}


.masinformacion a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: myriad-pro, sans-serif;
}
